{% extends 'base.html' %}

{% load static %}
{% load filtro_numero_prodotti %}


{% block title %} sommario {% endblock %}

{% block header2 %}

    sommario di {{ user.username  }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}"/>

{% endblock %}

{% block content %}
    <ul>

        <h1>TOT MONEY = {{ subtotale }}</h1>

        {% for prodotto, quantita in prodotti.items %}

            <li>
                {{ prodotto }} {{ quantita }}
            <form method="POST" action="{% url "rimuovi_carrello" %}" class="col-6 text-end">
                {% csrf_token %}
                <input type="hidden" name="prodotto_id" value="{{ prodotto.id }}">
                <input type="submit" class="btn btn-outline-danger" value="Rimuovi dal carrello">


                                                                        <div class="col-6">
                                                            <label for="select">Quantita</label>
                                                            <select id="select" name="prodotto_quantita">

                                                                {% for i in quantita|range_custom %}
                                                                    <option value="{{ i|add:1 }}">{{ i|add:1 }}</option>
                                                                {% endfor %}

                                                            </select>
                                                        </div>

            </form>
            </li>

        {% endfor %}

    </ul>

{% endblock %}


